/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import (reference) '../../styles.less';

.marketplace-tile {
  display: block;

  &-logo {
    width: 80%;
    height: 7rem;
    padding: 2rem 1.5rem;
    margin: 3rem auto;
    border-radius: 1rem;
    background-color: @white;
    box-shadow: 0 3px 8px -4px #9c9c9c;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  &:hover &-logo {
    box-shadow: 0 3px 8px -4px #747474;
  }

  &:link,
  &:visited,
  &:active,
  &:hover {
    text-decoration: none;
  }
}

