<div class="row padding-top-20">
    <ul class="logo-grid padding-0 margin-0">
        {{ range .Site.Data.collaborations.founding_members }}
            <li class="col-lg-4 col-md-6 col-xs-8">
                <a href="{{ .website }}">
                    <div class="logo-grid-logo-wrapper">
                        <img class="logo-grid-logo" src="{{ .logo }}" alt="{{ .organization }}"/>
                    </div>
                </a>
            </li>
        {{ end }}
    </ul>
</div>