<!--
  Copyright (c) 2023 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  Contributors:
    Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

{{ $staff_blogs := slice }}
{{ with $.Site.Data.staff_blogs }}
  {{ $staff_blogs = $.Site.Data.staff_blogs.channel.item }}
{{ end }}

<div class="row padding-top-60 padding-bottom-40">
  <h1 class="text-center">Blogs and Videos</h1>
</div>

<section class="row bg-neutral-flat padding-top-60 padding-bottom-40">
  <div class="container">
    <h2 class="margin-bottom-40 text-center" id="eclipse-foundation-team">From Eclipse Foundation Team</h2>
    <div class="rss-blog-list">
      {{ if eq (len $staff_blogs) 0 }}
        <p class="text-center margin-bottom-40">Could not load posts from the Eclipse Foundation Team.</p>
      {{ else }}
        {{ range $post := ($staff_blogs | first 2) }}
          <div class="post">
            <div class="post-portrait hidden">

            </div>
            <div class="post-body">
              <div class="post-head">
                <a class="post-head-title" href="{{ $post.link }}">
                  {{ $post.title }}
                </a>
                <div class="post-head-subtitle">
                  {{ dateFormat "Monday, January 2, 2006" $post.pubDate }} &mdash; by {{ $post.creator }}
                </div>
              </div>
              <p class="post-content">
                {{ $post.description | plainify | truncate 500 }}
              </p>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
    <div class="text-center margin-top-20">
      <div class="btn-group">
        <a class="btn btn-secondary" href="https://blogs.eclipse.org/">View All</a>
        <a class="btn btn-primary" href="https://blogs.eclipse.org/blog/feed" title="Subscribe via RSS">Subscribe</a>
      </div>
    </div>
  </div>
</section>

<section class="row padding-top-60 padding-bottom-40">
  <div class="container">
    <h2 class="text-center margin-bottom-40" id="community">From Eclipse Community</h2>
    <div 
      class="solstice-rss-blog-list show-external-icon show-rss-origin" 
      data-urls="https://planeteclipse.org/planet/rss20.xml"
      data-limit="2" 
      data-template-id="news-item-image"
    >
      <p class="solstice-loading">
        <i class="fa fa-spinner fa-pulse"></i>
      </p>
    </div>
  </div>
  <div class="text-center margin-top-20">
    <div class="btn-group">
      <a class="btn btn-secondary" href="https://planeteclipse.org/planet/">View All</a>
      <a class="btn btn-primary" href="https://planeteclipse.org/planet/rss20.xml" title="Subscribe via RSS">Subscribe</a>
    </div>
  </div>
</section>

<section class="row padding-top-60 padding-bottom-40">
  <div class="container">
    <div class="col-xs-24 margin-bottom-20">
      <h2 class="text-center" id="watch-more">Watch More</h2>
    </div>
    <div class="col-sm-6 col-sm-offset-0 col-xs-16 col-xs-offset-4 margin-bottom-20">
      <a class="eclipsefdn-video" href="//www.youtube.com/embed/playlist?list=PLy7t4z5SYNaSBxx8gLh0i9LlN2bZW6H1L"></a>
      <p class="margin-top-10 font-bold text-center">Cloud Tool Time</p>
    </div>
    <div class="col-sm-6 col-sm-offset-0 col-xs-16 col-xs-offset-4 margin-bottom-20">
      <a class="eclipsefdn-video" href="//www.youtube.com/embed/playlist?list=PLy7t4z5SYNaQmahQY36J4vq2H4wY2s4Pk"></a>
      <p class="margin-top-10 font-bold text-center">The Edge of Things</p>
    </div>
    <div class="col-sm-6 col-sm-offset-0 col-xs-16 col-xs-offset-4 margin-bottom-20">
      <a class="eclipsefdn-video" href="//www.youtube.com/embed/playlist?list=PLy7t4z5SYNaQpEGxqW3XbmEEPds9ql3oT"></a>
      <p class="margin-top-10 font-bold text-center">Research @ Eclipse</p>
    </div>
    <div class="col-sm-6 col-sm-offset-0 col-xs-16 col-xs-offset-4 margin-bottom-20">
      <a class="eclipsefdn-video" href="//www.youtube.com/embed/playlist?list=PLy7t4z5SYNaSvv9SjVVi6-8SVdwpk-rxM"></a>
      <p class="margin-top-10 font-bold text-center">Jakarta TechTalks</p>
    </div>
  </div>
</section>
