/*
 * Copyright (c) 2024 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
*/

.catalog-link {
  color: #f7941e;
  font-weight: 500;
  margin: 5px 5px 5px 0px;

  &:visited {
    color: #f7941e;
  }
}

.separated-items {
  *::after {
    display: inline;
    content: " | ";
    color: #4c4d4e;
  } 

  *:last-child::after {
    display: none;
  }
}

.logo-card {
  width: 100%;
  margin-top: 20px;
  min-width: 200px;
  position: relative;
  background-color: #fff;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
  padding: 20px 0 85px 0;
  transition: 0.3s all ease-out;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-out;
  }

  @media (min-width: 600px) {
    width: 46%;
  }

  @media (min-width: 768px) {
    width: 30%;
  }
}

.logo-title-container {
  display: flex;
  justify-content: flex-end;
}

.logo-title {
  padding: 5px 20px 5px 40px;
  margin: 0;
  background-color: #37474f;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.logo-container {
  margin: 30px;
  height: 100px;
  
  img {
    max-height: 80px;
    max-width: 100%;
  }
}

.logo-button-container {
  position: absolute;
  bottom: 25px;

  a {
    margin-top: 20px;
    color: #f7941e;
    font-weight: 500;
    font-size: 18px;
    background-color: #fff;
    padding: 10px 0 10px 20px;
    border: none;
    border-top: 1px #f7941e solid;
    transition: all 0.3s ease-in;
    text-decoration: none;

    &:hover {
      background-color: #f7941e;
      color: #fff;
      padding: 10px 20px;
      transition: all 0.3s ease-out;
    }
  }
}
