<div class="margin-top-20">
  <a href="/articles">
    <img src="/articles/images/back.gif"/> Back to Eclipse Corner Articles
  </a>
  <div id="article-content"></div>
</div>
<script async src="/public/js/articles.js"></script>