/*!
 * Copyright (c) 2023, 2024 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

//== Featured Section
.featured-section {
  font-size: @featured-section-font-size;

  strong {
    font-weight: 700;
  }
}

//== Tile Section
.tile-section {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  text-align: center;

  &-content {
    color: @black;
    font-weight: 500;
  }

  &-end {
    flex-grow: 1;
    align-items: flex-end;
  }

  & .btn {
    display: block;
    width: 100%;
  }
}

@media (min-width: @screen-sm-min) {
  .tile-section .btn {
    display: inline-block;
    width: unset;
  }
}

@media (min-width: @screen-md-min) {
  .tile-section {
    text-align: left;
  }
}

//== Circular Sections
.circular-container {
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  @media (min-width: @screen-sm-min) {
    padding: 18%;
  }

  &-neutral-darkest {
    &::before {
      .bg-neutral-darkest;
    }
  }

  &-primary-light {
    &::before {
      .bg-primary-light;
    }
  }

  &-neutral-flat {
    &::before {
      .bg-neutral-flat;
    }
  }
}

//== Wide Outer Columns
// The left-most and right-most columns will stretch to the end of the screen.
.wide-outer-columns {
  display: flex;
  flex-direction: column;

  // For mobile, we do not want the whitespace gutters from the container. 
  margin-left: -15px;
  margin-right: -15px;
  & > * {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @media (min-width: @screen-md-min) {
    flex-direction: row;

    & > * {
      position: relative;
      width: 100%;
      padding: 4rem;

      &:first-child {
        padding-left: unset;

        &::before {
          left: -100vw;
        }
      }

      &:last-child {
        padding-right: unset;

        &::before {
          right: -100vw;
        }
      }

      &:first-child::before,
      &:last-child::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100%;
        background-color: inherit;
      }
    }
  }
}
