@import (reference) '../styles.less';

.rss-blog-list .post {
  display: flex;

  &-head {
    margin-bottom: 1.5rem;

    &-title {
      .link-unstyled;
      display: inline-block;
      margin-bottom: 0;
      font-size: @font-size-lg;
      
      &:hover {
        color: darken(@brand-primary-light, 15%);
      }
    }

    &-title,
    &-subtitle {
      color: @brand-primary-light;
    }
  }
}
