<div class="member-detail margin-top-30">
  <div class="text-center">
    <i class="fa fa-spinner fa-pulse fa-2x fa-fw margin-bottom-20"></i>
    <span class="sr-only">Loading...</span>
  </div>
</div>
