/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.card {
  width: 100%;
  box-shadow: 0px 0px 10px darken(@white, 10%);
  text-align: center;
}

.card.topic-card {
  padding: 4rem;

  @media (min-width: @screen-md-min) {
    width: 28rem;
  }

  .topic-card-logo {
    max-width: 26rem;
    height: 8rem;
    margin-bottom: 4rem;

    img {
      height: 100%;
      margin: auto;
      object-fit: contain;
    }
  }
}

//== Staff page cards
.staff-card {
  img {
    width: 100%;
    object-position: top center;
  }
}

.leadership-cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @media (min-width: @screen-sm-min) {
    flex-direction: row;

    & > *:first-child {
      flex-basis: calc(25% - 1.5rem);
    }

    & > *:last-child {
      flex-basis: 75%;
    }
  }
}

.executive-director-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100% - 20px);

  img {
    min-height: 81%;
    object-position: bottom center;
  }
}
